body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5; /* Light grey background */
    color: #000; /* Black text */
    margin: 0;
    padding: 0;
}

#title-container {
    background-color: #000; /* Black background for the title */
    padding: 20px;
}

#title {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #fff; /* White text shadow for contrast */
    color: #fff; /* White text for the title */
}

#game-container {
    width: 80%;
    max-width: 800px;
    margin: 100px auto 20px;
    height: 400px; /* Set a fixed height for the container */
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide content that overflows the fixed height */
}

#input-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Remove space between game and input containers */
    background-color: #fff; /* White background for the input container */
    color: #000; /* Black text within the container */
}

#user-input {
    padding: 10px;
    border: 1px solid #000;
    width:86%;
}
#submit-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#message-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto; /* Adds space between input and message containers */
    padding: 10px;
    background-color: #333; /* Dark grey background for the message container */
    color: #fff; /* White text within the container */
}